html {
    scroll-behavior: smooth;
    font-size: 22px;
    
  }
  body {
      width: 100%;
      background-color: rgb(27, 22, 27);
      color: rgb(252, 250, 250);
  
  }
  
  header {
      width: 100%;
      position: fixed;
      top: 0;
      height: 5rem;
      background-color: inherit;
      color: inherit;
  }

  .header {
    display: flex;
    justify-content: flex-end;
}

h1 {
    position: fixed;
    margin-left: 15%;
}

nav {
    position: fixed;
    z-index: 2;
    text-decoration: none;
}

nav li {
    display: inline-flex;
    justify-content: flex-end;
    align-content: space-between;
    margin: 2rem 2rem;
    padding: 10px;
    background-color: white;
    border-radius: 25%;
    border: 2px solid black;
    font-weight: bold;
    
}

nav li:active {
    padding: 8.5px;
    border: 3.5px solid orange;
}

a {
    text-decoration: none;
    color: black;
}
.link:hover {
    cursor: pointer;
    
}
.link:active {
    filter: brightness(1.25);
    color: orange;
    
}

#dark-light {
    color: #222;
  }
#dark-light:hover {
    cursor: pointer;
}
#dark-light:active {
  filter: brightness(1.25);
  color: orange;
}

.light{
    background-color:whitesmoke;
    color: #222;
}

.containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin: 300px 10px 0;
    border-radius: 5%;
}

.picture {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}


.containerProjects {
    border: 1px solid red;
    border-radius: 5%;
    text-align: center;
    margin: 0 10px;
}

.resize {
    height: 400px;
    width: 300px;
    margin-left: 100px;
}

.resize:hover {
    height:600px;
    width: 400px;
}

.teacozy, .happyDogs{
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between ;
}

h3{
    padding-left: 50px;
}

p {
    margin-left: 30px;
}

.containerSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    border-radius: 5%;
    text-align: center;
    margin: 0 10px;
}

.containerContact {
    text-align: center;  
}

#github {
    height: 100px;
    width: 100px;
}


@media only screen and (max-width: 800px) {
    .containerAbout, .containerContact, .containerProjects, .containerSkills {
        width: 1500px;
    }

    p{
        font-size: 30px;
    }

    #xxx {
        display: none;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .containerAbout, .containerContact, .containerProjects, .containerSkills {
        width: 1500px;
        margin-right: 50px;
    }

   
}

@media only screen and (max-width: 480px) {
    h1 {
        display: none;
    }
    nav {
        display: flex;

        max-width: fit-content;
    }

    .containerAbout, .containerContact, .containerProjects, .containerSkills {
        width: 1250px;
        margin-right: 50px;
    }

    p {
        font-size: 30px;
    }

    .containerSkills {
        display: flex;
        flex-wrap: wrap;
    }
}